.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 50px;
  position: relative;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}

@media screen and (max-width: 1024px) {
  .shop-container {
    grid-template-columns: 3fr 1fr;
    gap: 30px;
  }
  .products-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
  }
}

@media screen and (max-width: 768px) {
  .shop-container {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .products-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    order: 2;
  }
  .cart-container {
    order: 1;
  }
}

@media screen and (max-width: 560px) {
  .shop-container {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .products-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
