.header {
  height: 80px;
  background-color: #1c2b35;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
  z-index: 999;
}

.header .nav-link a {
  color: #ffffff;
  text-decoration: none;
  font-size: 17px;
  margin-left: 30px;
  padding: 10px 0;
}
.header a:hover {
  color: orange;
}

.dropdown-menu {
  display: none;
}
.dropdown-menu button,
.menu-close-button button {
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.user-email {
  color: white;
  border: 1px solid var(--primary);
  padding: 8px 10px;
  margin-left: 20px;
  border-radius: 10px;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 1024px) {
  .mobile-menu {
    display: none;
    background-color: #1c2b35;
    flex-direction: column;
    width: 250px;
    position: fixed;
    top: 0px;
    right: 0px;
    min-height: 100vh;
    height: 100%;
    z-index: 100;
    padding: 20px 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  .desktop-menu {
    display: none !important;
  }

  .nav-link a {
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .menu-close-button {
    text-align: left;
    margin-left: 30px;
  }
  .dropdown-menu {
    display: block;
  }
  .user-email {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }
}
